header,footer{
    height: 70px;
    border: 1px dashed red;
    background: #7634FA;
}
footer{
    height: 270px;
    background: #F8F9FA;
}

main{
    height: 1000px;
    border: 1px dashed green;
}
.a_cont{
    border: 1px dashed red;
    
}
.tbdr{
    border: 1px dashed black;
}